@font-face {
    font-family: 'Cardenio Modern', sans-serif;
    src: url('assets/fonts/cardenio_modern_std.woff2') format('woff2'),
         url('assets/fonts/cardenio_modern_std.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cardenio Modern', sans-serif;
    src: url('assets/fonts/cardenio_modern_bold.woff2') format('woff2'),
         url('assets/fonts/cardenio_modern_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

